[Unit]
Description=Run Twitter Workflow every hour
Requires=twitter-workflow.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target 